* {
  font-family: '微软雅黑';
}
.ship-wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ship-item {
  padding: 0 2%;
  width: 42%;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.ship-item .img-wrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.ship-item .ship-img {
  width: 100%;
}
.ship-item .ship-title {
  display: block;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ship-item .price {
  font-size: 20px;
  font-weight: 700;
  color: #D9256D;
}
.ship-item .old-price {
  font-size: 12px;
  text-decoration: line-through;
  color: #B7B7B7;
}
.ship-item .view-detail {
  float: right;
  margin: 5px 5px 0 0;
  width: 70px;
  height: 20px;
  font-size: 13px;
  background: #D9256D;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
}
